@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./assets/background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 60dvh;
}

@layer components{
    .btn-page {
        @apply btn size-12 text-xs rounded-3xl bg-cyan-500 text-white border-0 shadow hover:bg-cyan-600 hover:rounded-2xl hover:scale-110 disabled:bg-white disabled:text-cyan-800 disabled:rounded-2xl disabled:scale-110 transition-all duration-300;
    }
}

@font-face {
    font-family: 'PKMN';
    src: url("C:/Users/Utilizador/Desktop/Tiago/Side Projects/React Projects/react-pokedex/src/assets\PKMN RBYGSC.ttf");
}

.custom-font{
    font-family: 'PKMN', sans-serif;
}